body{
	background-color:black;
	font-family: "Dancing Script",cursive;

}
h1{
	font-size: 50px;
	margin-bottom: 30px;
}
#display{
	color:white;
}
#icon{
	margin-top:20px;
}
#temperature{
	margin-top: 30px;
}
#wind{
   margin-top:20px;
}
#timezone{
	margin-top: 20px;
}
